h1 {
  text-align: center;
}

.featurePageDiv {
  text-align: center;
  text-size-adjust: 30px;
  text-wrap: wrap;
  padding-block: 5px;
}

.featurePageWords {
  color: #782cf6;
  overflow-wrap: break-word;
}

.featureDetailsDiv {
  text-size-adjust: 30px;
  text-align: center;
  max-width: fit-content;
  margin-right: 28%;
  margin-left: 28%;
  line-height: 1.5;
  padding-block: 5px;
}

.featurePageIcons {
  color: #782cf6;
}

.finePrint {
  text-align: center;
  text-wrap: wrap;
  margin-right: 22%;
  margin-left: 22%;
  line-height: 1.5;
  padding-block: 5px;
  padding-bottom: 5%;
  padding-top: 5%;
}
