h1 {
  text-align: center;
}

.featurePageDiv {
  text-align: center;
  margin: 0 auto;
  padding-block: 75px;
  max-width: 90%;
}

.featurePageWords {
  color: #782cf6;
  overflow-wrap: break-word;
}

.featureDetailsDiv {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.featurePageIcons {
  color: #782cf6;
}

.finePrint {
  text-align: center;
  margin-left: 25px;
  overflow-wrap: break-word;
  max-width: 95%;
  margin: 0 auto;
}
