.AboutPageMainDiv {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  margin-right: 250px;
}

.AboutPageImageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutPageHeader {
  text-align: center;
}

.AboutPageMainImage {
  border-radius: 25px;
  width: 500px;
  margin-right: 150px;
}

.AboutPageWrittenSection {
  text-align: left;
  align-items: center;
  line-height: 1.5;
}
