.AboutPageHeader {
  text-align: center;
}

.AboutPageMainImage {
  border-radius: 25px;
}

.AboutPageMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutPageWrittenSection {
  text-align: center;
  align-items: center;
  margin-right: 42%;
  margin-left: 42%;
  line-height: 1.5;
}
