/* Main Container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-paragraph {
  margin-bottom: 0;
}

/* Button Container */
.search-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
