/* Main Container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-paragraph {
  margin-top: 0px;
}

.search-category-link {
  color: '#782cf6';
  text-decoration: underline;
}
/* Insuarnce search container */
.insurance-search {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 0px #782cf6;
}

.search-option-label {
  align-self: center;
}

/* Button Container */
.search-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
