/* Main Container */
.landing-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 80%;
  height: 100%;
  margin: 60px auto;
}

/* Left and Right Containers */
.landing-left-container {
  text-align: center;
}

/* Landing Page Headers and  */
.landing-header {
  font-size: 60px;
}

.landing-paragraph {
  font-size: 30px;
}

/* Image */
.landing-image {
  width: 500px;
  height: auto;
  border-radius: 20px;
}
