/* Main Container */
.container {
  height: 100vh;
  overflow: hidden;
}

/* Result Header Container */
.result-header-container {
  text-align: center;
  flex-shrink: 0;
}

.result-header-h1 {
  margin-bottom: 0px;
}

.result-header-paragraph {
  margin-top: 0px;
  margin-bottom: 2rem;
}

/* Result Container */
.result-container {
  width: 90%;
  max-height: 60vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid black;
}

/* Map Container */
.map-container {
  border: 1px solid black;
}
.map {
  height: 500px;
  width: 500px;
}

/* Table Container */
.result-table-container {
  height: 100%;
  overflow-y: scroll;
}

/* Button Container */
.result-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
