.map {
  height: 500px;
  width: 500px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.centered-table {
  margin: 0 auto;
}
