.userEditPageIndependentInputTextDivs {
  margin-bottom: 15px;
}

.userEditPageSideBySideInput {
  display: flex;
  flex-direction: row;
}

.firstInputField {
  margin-right: 60px;
}

.userEditPageInput {
  width: 500px;
}
